@charset "UTF-8";

@font-face {
    font-family: 'Passion One';
    src: url(fontes/PassionOne-Bold.ttf);
}

@font-face {
    font-family: 'Sriracha';
    src: url(fontes/Sriracha-Regular.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px;
}

header > h1 {
    font-size: 10vw;
    font-family: 'Passion One', Verdana, Geneva, Tahoma, sans-serif;
}

header > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px;
}

a:hover {
    text-decoration: underline;
}



section {
    font-family: 'Sriracha';
    font-size: 4vw;
    line-height: 11vw;
}

section.clean {
    padding: 70px 40% 70px 20px;
}

section.image {
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding: 70px 40% 70px 20px;
}

section.image > p {
    background-color: rgba(0, 0, 0, 0.486);
}

section#image01 {
    background-image: url(imagens/background001.jpg);
}

section#image02 {
    background-image: url(imagens/background002.jpg);
}
